<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	<add key="BlueJeans" value="https://www.myget.org/F/bluejeans/auth/d325d8e1-7d40-4eda-baab-942c43ab9268/api/v3/index.json" />
  </packageSources>
</configuration>
