<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="ReactWindows" switchValue="Information">
        <listeners>
          <add name="xmlServer" />
          <add name="TextWriter" />
          <add name="DefaultServer" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlServer" type="System.Diagnostics.XmlWriterTraceListener" initializeData="ReactWindows.svclog" traceOutputOptions="ProcessId, DateTime, ThreadId">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="ReactWindows.log" traceOutputOptions="ProcessId, DateTime, ThreadId">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="DefaultServer" type="System.Diagnostics.DefaultTraceListener" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>
