<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <system.diagnostics>
      <sources>
        <source name="ReactWindows" switchValue="All">
          <listeners>
            <add name="TextWriter"/>
            <add name="EventWriter"/>
            <remove name="Default"/>
          </listeners>
        </source>
      </sources>
    <switches>
      <add name="SourceSwitch" value="Warning"/>
    </switches>
    <sharedListeners>
      <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="ReactWindows.log" traceOutputOptions="ProcessId, DateTime, ThreadId">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="EventWriter" type="Playground.Net46.Logging.ReactNativeLogTraceListener, Playground.Net46, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="ReactWindowsEvent">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
      </add>
    </sharedListeners>
    <trace autoflush="true" indentsize="4"/>
  </system.diagnostics>
</configuration>
