<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Playground.Net46.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.diagnostics>
    <sources>
      <source name="ReactWindows" switchValue="Warning">
        <listeners>
          <add name="xmlServer" />
          <add name="TextWriter" />
          <add name="DefaultServer" />
          <add name="RNWTraceListener" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xmlServer" type="System.Diagnostics.XmlWriterTraceListener" initializeData="ReactWindows.svclog" traceOutputOptions="ProcessId, DateTime, ThreadId">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="TextWriter" type="System.Diagnostics.TextWriterTraceListener" initializeData="ReactWindows.log" traceOutputOptions="ProcessId, DateTime, ThreadId">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="DefaultServer" type="System.Diagnostics.DefaultTraceListener" traceOutputOptions="DateTime">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
      <add name="RNWTraceListener" type="Playground.Net46.RNWTraceListener, Playground.Net46" traceOutputOptions="ProcessId, DateTime, ThreadId">
        <filter type="System.Diagnostics.EventTypeFilter" initializeData="All"/>
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <applicationSettings>
    <Playground.Net46.Properties.Settings>
      <setting name="TraceSwitchValue" serializeAs="String">
        <value>Information</value>
      </setting>
    </Playground.Net46.Properties.Settings>
  </applicationSettings>
</configuration>
